{% extends "main/header.html" %}

{% block content%}



<p>you have logged in {{number}} {{class_mub}} times</p>
<div class="row">
<div class="col l4 m6 s12">
<div class="c100 p{{class_mub}}">
  <span>{{numberi}}</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</div>
<div class="col l4 m6 s12">
<div class="c100 p{{class_nab}}">
  <span>{{numberii}}</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</div>
<div class="col l4 m6 s12">
<div class="c100 p{{class_abs}}">
  <span>{{numberiii}}</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</div>


</div>



{% endblock content %}
