<head>
	{% load static%}
	<link href="{% static 'tinymce/css/prism.css'%}" rel="stylesheet">
    <link href="{% static 'tinymce/css/prism.css'%}" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="{% static 'css/circle.css'%}" rel="stylesheet">


    <!-- Compiled and minified JavaScript -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

   


    <meta name= "viewport" charset="UTF-8">
    <title>Homepage</title>      
  {% block css %}
  
  {% endblock css %}




</head>
<body style="background-color: lightblue;">

{% include "main/includes/navbar.html" %}
{% include "main/includes/messages.html" %}


<div class= "container">
  <br>
{% block content %}

{% endblock content %}
</div>




{% block javascript %}

{% endblock javascript %}




<script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
     .responsive-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    }
  </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
   $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

 

</body>

<script src= "{% static 'tinymce/js/prism.js'  %}"></script>
